<!--Card Dark-->

<!--Card image-->


<div class="list-group mt-4 border-0 modal-bottom-right ">

  <a routerLink="/project/list" *ngIf="!projectnull" class="border-0 text-white indigo list-group-item list-group-item-action waves-light" mdbWavesEffect><i
    class="fa fa-arrow-right mr-2"></i> {{ project.name }} </a>
  <a routerLinkActive="active indigo lighten-2" routerLink="/project/new"
     class="border-0 mr-2 list-group-item list-group-item-action waves-light"
     mdbWavesEffect><i class="fa fa-plus  "></i> Nouveau projet</a>

  <a routerLinkActive="active indigo lighten-2" routerLink="/project/list"
     class="border-0  list-group-item list-group-item-action waves-light" mdbWavesEffect><i class="fa fa-list mr-2"></i>
    Liste
    des projets</a>
</div>
<div *ngIf="!projectnull" class="list-group border-0 mt-4 modal-bottom-right ">

  <a  routerLinkActive="active indigo lighten-2" routerLink="/project/color" class="border-0 list-group-item list-group-item-action waves-light" mdbWavesEffect><i
    class="fa fa-paint-brush  mr-2"></i>Palette</a>
  <a  routerLinkActive="active indigo lighten-2" routerLink="/project/note" class="border-0  list-group-item list-group-item-action waves-light" mdbWavesEffect><i
    class="fa fa-sticky-note  mr-2"></i>Note</a>
  <a  routerLinkActive="active indigo lighten-2" routerLink="/project/todo"  class="border-0  list-group-item list-group-item-action waves-light" mdbWavesEffect><i
    class="fa fa-check-square  mr-2"></i>Todo</a>
</div>

<div *ngIf="!projectnull" class="list-group border-0 mt-4 modal-bottom-right ">

  <a routerLinkActive="active indigo lighten-2" routerLink="/project/parameters" class="border-0 list-group-item list-group-item-action waves-light" mdbWavesEffect><i
    class="fa fa-gear  mr-2"></i>Parameters</a>
  <a *ngIf="project.link != ''" target="_blank" href="{{ project.link }}" class="border-0  list-group-item list-group-item-action waves-light" mdbWavesEffect><i
    class="fa fa-link  mr-2"></i>Lien</a>
</div>
